[2022-06-17 01:58] #1504 closed, assigned to christophe0606

[2022-06-17 02:29] fpedd opened #1505 "Missing Bias `NULL` Check in Optimized Depthwise Convolutions"
In #1360 a bias null check was added to the default (fallback) dw conv [`arm_depthwise_conv_s8.c`](https://github.com/ARM-software/CMSIS_5/blob/61ad1303bc50450130cfb540caa384875a260b91/CMSIS/NN/Source/ConvolutionFunctions/arm_depthwise_conv_s8.c#L228) functions along with unit tests. However, no check was added to the optimized dw conv functions [`arm_depthwise_conv_s8_opt.c`](https://github.com/A

[2022-06-17 08:43] felix-johnny commented on #1505
@fabianpedd Thanks for the reporting this. The bias check is should be a part of the specialized functions as well.

As for calling the functions directly in the unit tests, we do it on a case by case basis as some functions could be specific to an architecture(e.g arm_depthwise_conv_3x3_s8()). But for the redundant calls that you mention at the end, one of those should call the wrapper.
  You are

[2022-06-17 19:46] bobkocisko opened #1507 "ETA for aarch64 DSP support"
Hello!  I've seen multiple issues (#983, #1396) regarding support for Cortex-A53 but so far I haven't seen any commitment regarding a timeline for updating the DSP or core libraries to support it.  In particular we are hoping to use the DSP library for programming Cortex-A76 and Cortex-A55 and are wondering when that might be possible?

[2022-06-20 05:34] christophe0606 commented on #1507
Hello @bobkocisko,

CMSIS-DSP started as a Cortex-M library and we are **slowly** adding more Cortex-A support. Currently there is nearly no aarch64 support.

I can't communicate any schedule. But we do have some plan for more aarch64 support.

[2022-06-20 07:26] christophe0606 commented on #1507
@bobkocisko If you have specific need in mind (some specific functions) then it may help us to prioritize and know which functions to do first.

[2022-06-20 10:08] JonatanAntoni commented on #1042
Hi @jankap,

We founded a new open governance project at Linaro for addressing this.
https://www.open-cmsis-cdi.org/

Cheers,
Jonatan

[2022-06-20 17:23] bobkocisko commented on #1507
Thanks @christophe0606!  Sure, these are the specific functions we're currently interested in, in priority order:

arm_add_f32
arm_mult_f32
arm_biquad_cascade_df2T_*_f32
arm_power_f32
arm_cos_f32
arm_sin_f32
arm_vlog_f32
arm_sqrt_f32
arm_rms_f32

[2022-06-20 17:24] bobkocisko commented on #1507
A related question:  Is it possible to compile the DSP library for the Cortex-A32 and then run it on the A76 and A55 in aarch32 mode?  If so, what optimizations would we lose?

[2022-06-21 05:45] christophe0606 commented on #1507
@bobkocisko  I am not knowledgeable enough in aarch64. I know that, for our dot product, the neon implementation is different for aarch64 and we are using the `vpadds_f32` instruction not available in aarch32. It gives some performance improvement.

There are more instructions for aarch64 and some of them may be useful for optimizing some kernels. But it is highly kernel dependent and more likely

[2022-06-21 15:39] bobkocisko commented on #1507
Good to know!  What would we use for -DARM_CPU="???" in the cmake build command when building just the DSP?  I followed the instructions in DSP/README.md but am still not sure about that.  Would it be "aarch64"?  Also, we have an SDK from Buildroot for our target machine, should we be referencing that toolchain or should we be trying to use the toolchain provided in the DSP/Toolchain folder?

(Edi

[2022-06-22 05:22] christophe0606 commented on #1507
@bobkocisko It is not going to work with the current cmake files unfortunately. Those files were initially developed for our internal test framework and only support a subset of the Cortex-A cores.

So you'll need to create your cmake or Makefile. It is simpler than it looks. For instance, in DSP/Source/BasicMathFunctions you'll see a file BasicMathFunctions.c.

Just use it. It is including all ot

[2022-06-23 09:56] praedicow opened #1514 "Latest KEIL Utilities ( 5.9.0) have unresolved dependencies"
Hello,

currently we're using KEIL Utilities v 5.8.0 for our KEIL-Pack generation flow on a Linux server. I tried to update our flow to the latest KEIL Utilities (SVDConv and PackChk) to Version 5.9.0, but the problem occurred, that there are some dependencies which our system can not resolve.

This didn't occur in any of the older versions of these tools. So my question is, if it's possible, that

[2022-06-23 09:56] praedicow commented on #1514
![KEIL_Utilities_dependencies](https://user-images.githubusercontent.com/108060058/175272436-6efc4074-07e4-4a15-9e00-db8bd841843f.png)

[2022-06-23 11:49] praedicow opened #1515 "L modifier in *_Msk macro-definitions of device header for 16bit registers"
After generating the device header file by **SVDConv** with the `--fields=macro` option, all preprocessor defines for `*_Msk ` have the modifier `L`, regardless of the actual register bitwidth.

Linting tools are reporting failures in the assignment of a _LONG_ value to a _SHORT_ register.

It would be nice to adjust the `*_Msk` preprocessor defines in the device header file, according to the actu

[2022-06-23 12:15] JonatanAntoni commented on #1514
Hi @praedicow,

Thanks for pointing this out. This seems to be a mistake happened in SVDConv.

Do you have any issues with latest [PackChk 1.3.95](https://github.com/Open-CMSIS-Pack/devtools/releases/tag/tools%2Fpackchk%2F1.3.95) as well? PackChk is built with `-static-libc++` so only the `libc` is used dynamically. Is this sufficient or do we need to use `-static` instead to force full static lin

[2022-06-23 12:23] JonatanAntoni commented on #1515
Hi @praedicow,

Thanks for getting in touch. Can you please provide a reproducing SVD file?
I guess in code generation we blindly assume 32-bit registers whenever creating pos and mask defines.

Cheers,
Jonatan

[2022-06-23 12:35] praedicow commented on #1514
Hey Jonatan,

thank you for your fast reply. We do not have the issue in _PackChk 1.3.95_, so dynamic linkage of `libc` is okay for us, but to reduce dependencies, full static linkage may be more robust.

The older versions of PackChk and SVDConv used full static linkage.

Best regards
Alex

[2022-06-23 12:37] JonatanAntoni commented on #1514
Hi Alex,

Yes, that's true. Thanks for confirming that `libc` is okay for you. We need to discuss potential other side-effects.
But I think we will at least add `-static-libc++` for SVDConv.

Cheers,
Jonatan

[2022-06-23 12:57] praedicow commented on #1515
Hey Jonatan,

thank you again for the fast reply. I prepared an example for you. The register size is 16 bit but masks are defined with LONG modifier.

[example.zip](https://github.com/ARM-software/CMSIS_5/files/8967325/example.zip)

Best Regards,
Alex

[2022-06-23 13:13] JonatanAntoni commented on #1515
Hi Alex,

Thanks for the example. The colleagues have already picked that up.

I wonder how a good and generic solution could look like. Unfortunately, C does not have integer suffixes for short (16-bit) and char (8-bit) length values. And the suffix `U` still relates to an `unsigned integer` which is 32-bit.

The only solution I am aware of would be adding C-style casts so that the integer consta

[2022-06-23 13:19] thorstendb-ARM commented on #1515
As the sizes are known during generation, could this be a solution?
`#define ENABLE ((uint8_t) 42)`

[2022-06-24 07:59] praedicow commented on #1515
Hello, first of all you're completely right, skipping the `L` would also lead to 32bit values for ARM systems. We didn't think about that before.
We discussed this yesterday and the only generic solution we came up with, was the one @thorstendb-ARM already presented. So yes, I think a specific typecast would  be a good solution. We weren't 100% sure if the `U` could still be necessary for Hex valu

[2022-06-24 22:21] bobkocisko commented on #1507
Thanks for the suggestion to make my own CMakeFiles.txt, that did the trick.  I was able to figure out what the issues were and then tweaked an existing .cmake file and now can build the whole library within the existing framework.  Yay!

I did need to `target_include_directories(${PROJECTNAME} PUBLIC "${ROOT}/CMSIS/Core/Include")` for the compilation to run; I first tried `target_include_director

[2022-06-25 11:03] majorlin opened #1516 "Is rtebuild.py tool open source ?"
I'm trying to build core validation code in CMSIS, but seems rtebuild.py is an internal build tool, and I can't find any information about this, so Is there a way to download this tool?

[2022-06-27 05:22] christophe0606 commented on #1507
@bobkocisko There is a dependency to Core for two reasons:

- Compiler macros (static inline, alignment ...) which enable more portability of the library
- DSP intrinsics (CLZ, SSAT ...) used in scalar code. In theory they are no more needed since compilers are now implementing the ACLE spec (Arm C Language extensions) and those macros are no more needed. But CMSIS-DSP, for historical reason, is s

[2022-06-27 07:33] JonatanAntoni commented on #1515
@praedicow,

Thanks for you confirmation. We'll pick that up.

Cheers,
Jonatan

[2022-06-27 07:54] JonatanAntoni commented on #1516
Hi @majorlin,

Yes, that's unfortunately true. `rtebuild.py` is the internal predecessor of [CMSIS-Build](https://open-cmsis-pack.github.io/devtools/buildmgr/main/index.html). We still need to migrate the CoreValidation tests. Any help would be highly appreciated.

Cheers,
Jonatan

[2022-06-27 18:29] bobkocisko commented on #1507
I created a fork so you can see exactly what I'm doing on my end.

Here is the commit and in particular the specific line in question where I'm referencing Core_A/Include:
https://github.com/bobkocisko/CMSIS_5/commit/140bf5195baa47df19438236ac0c351a3c526f61#diff-477c527dfcaf58a0cf35406c7620a9ae88820fdf17d13f0b64e28c30173f5b03R37

Now for the full picture of what I'm doing.

First, I'm sourcing the

[2022-06-27 18:33] bobkocisko commented on #1507
One last perhaps useful detail, here is the gcc version
[code]

[2022-06-28 05:21] christophe0606 commented on #1507
@bobkocisko It looks like `__ARM_FEATURE_DSP` is not defined when compiling for your Cortex-A target.

But there is no check for `__ARM_FEATURE_DSP` in Core_A so intrinsics for `__SXTB16` for instance is always defined here.

CMSIS-DSP is also redefining `__SXTB16` in `dsp/none.h` since the flag `ARM_MATH_DSP` is not defined because `__ARM_FEATURE_DSP` is not defined.

I believe that those intrins

[2022-06-28 18:52] bobkocisko commented on #1507
Progress!  You can see my updated configCore.cmake [here](https://github.com/bobkocisko/CMSIS_5/commit/e66b6f3f05a62708b6d5d7dd393d37018b4eefa5#diff-477c527dfcaf58a0cf35406c7620a9ae88820fdf17d13f0b64e28c30173f5b03R38)

Here is the next problem

[code]

This occurs in each sub-library whenever it comes across most `q...` functions.  I stripped out all the `q...` functions from the CMakeLists.txt in

[2022-06-29 05:22] christophe0606 commented on #1507
@bobkocisko So it looks like the intrinsics `qsub` is not available on your Cortex-A.
It is a bit weird. It is available on low end Cortex-A so I was assuming it would also be available on yours. Perhaps there is a compilation option. I don't know Cortex-A instruction set in detail so it is something I'll have to check.

The second warning with `vlogq_f32` is not a problem. I'll have to correct th

[2022-06-29 05:44] christophe0606 commented on #1507
@bobkocisko I had forgotten a key point : I think you don't need to include `Core_A/Include` or `Core/Include` at all. You also don't need to define `ARM_MATH_DSP`.

Just define `-D__GNUC_PYTHON__` instead.

It is a flag I am using to build the Python wrapper and which is bypassing the Core includes.

By defining this, you'll get the definition of the compiler macros used by CMSIS-DSP:

[code]

an

[2022-06-29 18:02] bobkocisko commented on #1507
Success!  Thanks so much @christophe0606!

Here are my updates: https://github.com/bobkocisko/CMSIS_5/commit/ec985095b83e1b88b0dec7f4afcac28d1287439b

Are we effectively ignoring all intrinsics by turning on `__GNUC_PYTHON__`?  Or are there still some DSP extensions that the A76 and A55 have that CMSIS can take advantage of?  Does CMSIS still optimize for NEON with this switch enabled?

In the "Ar

[2022-06-30 05:03] christophe0606 commented on #1507
@bobkocisko With the `__GNUC_PYTHON__`  and `ARM_MATH_NEON` you still have all the Neon instructions.

It only disable instructions like `QSUB16`, `QADD8` etc ... which are useful for fixed point arithmetic algorithms (q7 and q15 format mainly) and only useful for the scalar parts. Vector part (when there is one) is using Neon.

The only effect of  `__GNUC_PYTHON__` in addition to defining some co

[2022-06-30 06:04] christophe0606 commented on #349
We have been continuously improving the library for `const` correctness.
I consider this task mainly done. I am not saying it is perfect and there may be few remaining cases where `const` is missing. In that case, new github issues will be created.

[2022-06-30 06:04] #349 closed

[2022-06-30 06:18] christophe0606 commented on #1489
The README on the new CMSIS-DSP repository has a section about building with cmake and aarch64:

https://github.com/ARM-software/CMSIS-DSP

Note that you can use the CMakeLists.txt from the DSP/Source folder. But the other cmake files from Testing should not be used.

If you still have problems, open a new issue on the new repository.

[2022-06-30 06:18] #1489 closed, assigned to christophe0606

[2022-06-30 06:20] christophe0606 commented on #1507
I am closing the github issue because we are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I am migrating the github issues to the new repository.

You can still comment on this closed issue or you can reopen a new one on the new repository if you have additional questions.

[2022-06-30 06:20] #1507 closed, assigned to nobody

[2022-06-30 06:23] christophe0606 commented on #1478
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:23] #1478 closed, assigned to nobody

[2022-06-30 06:24] christophe0606 commented on #1457
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:24] #1457 closed

[2022-06-30 06:25] christophe0606 commented on #1428
Now documented in the README on the new CMSIS-DSP repository:

https://github.com/ARM-software/CMSIS-DSP

[2022-06-30 06:25] #1428 closed

[2022-06-30 06:26] christophe0606 commented on #1391
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:26] #1391 closed

[2022-06-30 06:26] christophe0606 commented on #1386
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:26] #1386 closed

[2022-06-30 06:26] christophe0606 commented on #1343
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:26] #1343 closed

[2022-06-30 06:27] christophe0606 commented on #1312
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:27] #1312 closed

[2022-06-30 06:27] christophe0606 commented on #1278
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:27] #1278 closed

[2022-06-30 06:29] christophe0606 commented on #1275
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:29] #1275 closed

[2022-06-30 06:30] christophe0606 commented on #1237
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:30] #1237 closed

[2022-06-30 06:30] christophe0606 commented on #1091
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:30] #1091 closed

[2022-06-30 06:30] christophe0606 commented on #921
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:30] #921 closed

[2022-06-30 06:31] christophe0606 commented on #911
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:31] #911 closed

[2022-06-30 06:31] christophe0606 commented on #840
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:31] #840 closed

[2022-06-30 06:32] christophe0606 commented on #477
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:32] #477 closed

[2022-06-30 06:33] christophe0606 commented on #467
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:35] christophe0606 commented on #420
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:35] #420 closed

[2022-06-30 06:35] christophe0606 commented on #294
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:35] #294 closed

[2022-06-30 06:35] christophe0606 commented on #293
We are moving CMSIS-DSP to a new repository : https://github.com/ARM-software/CMSIS-DSP

I have recreated the github issues on the new repository (sometimes merging a few related ones). You can see the link just above this comment (... mentioned this issue ...).

So, I am closing the github issue here.

[2022-06-30 06:35] #293 closed

[2022-06-30 20:10] bobkocisko commented on #1507
Thanks again @christophe0606!

[2022-07-06 02:33] niliqiang opened #1518 "How to get RTOS2 RTX v5 Library Files?"
Hi all,
I am trying to get the RTX v5 library files via fetch_libs.sh, but it returns like below:
![image](https://user-images.githubusercontent.com/41098158/177454856-171ea7cb-c169-48ec-afda-e6c661de3deb.png)
and it seems I don't have access to https://artifactory.eu02.arm.com:443/ui/admin/artifactory/user_profile
Does anyone know how to get ARTIFACTORY_API_KEY? thx!

[2022-07-06 06:45] JonatanAntoni commented on #1518
Hi @niliqiang,

Unfortunately, this resource is not publicly accessible.
You can either build the libs on your own. Or you can find all the binary content (which is not in the repo) in the official release packs.

Moving the full CI/CI pipelines to public resources is still on our backlog. It will take us more time to work on that.

Thanks for getting in touch,
Jonatan

[2022-07-06 08:04] niliqiang commented on #1518
Thank you very much for your explanation, I got the library files in the official release packs.

[2022-07-06 08:04] #1518 closed, assigned to nobody

[2022-07-06 10:24] jankap opened #1519 "CMSIS-DSP linker errors when using microlib"
Hi, I'm trying to use CMSIS-DSP with microlib without Keil MDK in commandline.

My build command looks like:
[code]

Of course, I compile my main etc., too. Compilation runs as expected.

Linkage fails:
[code]

Versions:
[code]

Do I use the microlib in an incorrect way? Is this an issue with the DSP lib?
Building from Keil MDK works...

Thanks!

[2022-07-07 06:59] cctv180 commented on #1519
Define: DISABLEFLOAT16
(添加宏 DISABLEFLOAT16 试试)
https://www.armbbs.cn/forum.php?mod=redirect&goto=findpost&ptid=94547&pid=247904&fromuid=11818

[2022-07-07 22:12] jianyoulu opened #1520 "cpsid and cpsie in core_a don't compile with aarch64"
I am trying to use armclang to compile code with latest CMSIS core-a.
My complier flags: -march=armv8-a --target=aarch64-arm-none-eabi -O2 -g.

However, I am getting the following errors in compiling and using __enable_irq() and __disable_irq() functions.

Any suggestions?

[2022-07-08 05:11] christophe0606 commented on #1519
@jankap @cctv180 has given the answer. Thanks @cctv180
Indeed, CMSIS-DSP is providing f16 support but if your hardware is not providing acceleration for f16 then this datatype is not very useful (and may not build in some combination of compiler / lib). So you can disable it.

I'll upgrade the documentation.

Note that CMSIS-DSP now has a new repository : https://github.com/ARM-software/CMSIS-DSP

[2022-07-11 09:56] JonatanAntoni commented on #1520
Please take note that CMSIS-Core(A) does not (yet) include support for AArch64.

[2022-07-11 12:19] jankap commented on #1519
Awesome, thank you!

[2022-07-11 12:19] #1519 closed, assigned to nobody

[2022-07-13 06:26] erhnam commented on #1430
You are using the input_data list after using it with kiss_fft, which modifies that input list.

[2022-07-13 14:51] JoleenSun opened #1524 "CMSIS-DSP：Why the Q15 type of matrix multiplication is transposed, while its Q31 type is not transposed"
1.  I'm curious about why a transposition is carried out before multiplication in the function arm_mat_mult_fast_q15 , while there is no transposition in the function arm_mat_mult_fast_q31. But transposition can also bring better performance for function arm_mat_mult_fast_q31 actually.
2.  Function arm_mat_mult_q15 also has an input "pState", but also has not do the transposition.
Would you please

[2022-07-18 06:59] christophe0606 commented on #1524
@JoleenSun Thanks for the question.
Could you ask the question again on the new CMSIS-DSP repository : https://github.com/ARM-software/CMSIS-DSP

Because the answer may interest other people so I'd prefer to answer on the new repository.

Thank you.

[2022-07-20 14:30] sergio-grovety opened #1528 "Missing reference to arm_nn_softmax_common_s8.c in ARM.CMSIS.pdsc"
Since version 5.9.0 some of arm_softmax* functionality moved to CMSIS/NN/Source/SoftmaxFunctions/arm_nn_softmax_common_s8.c
But reference for this file is missing in [ARM.CMSIS.pdsc](https://github.com/ARM-software/CMSIS_5/blob/develop/ARM.CMSIS.pdsc)

[2022-07-21 05:29] #1524 closed, assigned to nobody

[2022-07-21 10:29] felix-johnny commented on #1505
@fabianpedd  I've pushed the fix.. You can try with that..

[2022-07-21 11:08] #1528 closed, assigned to felix-johnny

[2022-07-21 11:48] 0xc0170 opened #1531 "system headers (system_ARMxxxx) should include headers they require"
https://github.com/ARM-software/CMSIS_5/blob/develop/Device/ARM/ARMCM4/Include/system_ARMCM4.h#L41 - I checked couple of system headers like this one.

The workaround like this is required in whatever includes them:

[code]

system_ARMxxxx headers should include what they require and not require this workaround to applications. Or refactor the headers not being dependent on external headers (in th

[2022-07-21 12:18] JonatanAntoni commented on #1531
System headers are typically not included directly but used through device header. I guess that's why this laziness never became a real issue.

[2022-07-21 15:33] fpedd commented on #1505
Great, thanks! I apologize for taking so long to do it myself. I will give everything a try.

[2022-07-21 15:33] #1505 closed, assigned to nobody

[2022-07-21 16:19] fpedd opened #1532 "CMSIS-NN - Overwrite `output` Between Consecutive Unit Tests"
The CMSIS-NN unit tests often consecutively execute functions in the same unit test case. They make use of the same input values and parameters and are expected to produce the same `output`. Taking the [`test_arm_convolve_s8.c`](https://github.com/ARM-software/CMSIS_5/blob/develop/CMSIS/NN/Tests/UnitTest/TestCases/test_arm_convolve_s8/test_arm_convolve_s8.c) as an example. Here, we first test [`ar

[2022-07-22 07:45] felix-johnny commented on #1532
@fabianpedd  Thanks for the issue. I can see what you are referring to. Clearing the output buffers between two consecutive calls, yes, it should be cleared for better robustness.
As for im2col a clarification in arm_nnfunctions.h that the caller is responsible for the integrity of it is something that is coming up. Making an example of that in the unit tests is a good place to show that. I'll spl

[2022-07-22 07:47] felix-johnny opened #1534 "Maintain integrity of im2col buffers"
Splitting issue https://github.com/ARM-software/CMSIS_5/issues/1532 (@fabianpedd)into two with this one to handle im2col buffers..Specifically

'To nitpick some more: In theory, the same can be said for the intermediate buffer ctx.buf. It, or rather its underlying memory, should (ideally) also not be left untouched. While it does get freeed and malloced between consecutive calls, the chances of ma

[2022-07-25 08:46] ilg-ul commented on #1397
As @sgauche mentioned in the previous link, it seems ST is also affected by this issue, and their workaround was to stick to CMSIS 5.4.0. :-(

Sooner or later Arm has to address this, the current code is not ok.

[2022-07-25 10:45] JonatanAntoni commented on #1397
@ilg-ul, please provide a PR fixing this issue for your case. I.e. by adding the required pragma like `#pragma GCC diagnostic ignored "-Wnested-externs"`. Thanks.

[2022-07-25 11:00] ilg-ul commented on #1397
@sgauche, could you also suggest a solution to make your builds pass with the latest CMSIS?

In my opinion silencing the warning for GCC is not the right solution, since tomorrow we might want to compile this with another compiler, especially in a C++ project , and the problem will re-surface.

The problem here is that although `extern` definitions in the scope of a function are not strictly illeg

[2022-07-25 11:06] JonatanAntoni commented on #1397
If you guys think the code is not required we can remove it.

[2022-07-25 11:13] ilg-ul commented on #1397
I don't want to speak for the entire community, but in my projects I use a more elaborate startup anyway, so this code is of no use for me. But the implementation is not fortunate anyway.

However I think that the idea of a generic mechanism to initialize multiple BSS and DATA areas is valuable, I also use a similar mechanism in my startup, so perhaps this idea should be further refined.

[2022-07-26 06:44] fabriziopic opened #1536 "osEventFlagsSet() after osKernelSuspend() in RTOS2 tick-less operation"
Hi all,

I'm implementing a low power application based on CMSIS RTOS2 with ATSAML22 MCU. I have an RTOS2 tick-less operation like this:

[code]

When an interrupt is fired while in stop mode I can wakeup and continue working in my app. But the problem is when the interrupt is fired between osKernelSuspend() and go to sleep. The interrupt have is like this:

[code]

Theorically, when the IRQHandle

[2022-07-26 08:45] JonatanAntoni commented on #1536
Hi Fabrizio,

I am sorry for not being able to be much of a help for specific microcontrollers. Did you try to work on this with the Atmel community?

I can only say that `WFI` is always prone for race conditions. I think your solutions is the best you can achieve. Still, if the interrupt happens just between the check and the `_go_to_sleep()` you might lose it.

And another typical source for iss

[2022-07-26 10:18] fabriziopic commented on #1536
Hi Jonatan,

Microchip support confirms that WFE is not supported and suggest a similar solution of the one I used.

Br
Fabrizio

Da: Jonatan Antoni ***@***.***>
Inviato: martedì 26 luglio 2022 10:46
A: ARM-software/CMSIS_5 ***@***.***>
Cc: Fabrizio Picotto ***@***.***>; Author ***@***.***>
Oggetto: [EXT] Re: [ARM-software/CMSIS_5] osEventFlagsSet() after osKernelSuspend() in RTOS2 tick-less opera

[2022-08-05 13:47] mansnils opened #1542 "Fix input constraints in convolve wrapper is not right"
kernel_y should be 1 for arm_convolve_1_x_n_s8()

[2022-08-06 10:06] MaJerle opened #1544 "GCC with C++20 compound volatile warning"
With GCC 10 and C++20, `|=`, `&=`, `++`, `--` operands on volatile keyword result in a warning for deprecated `volatile` keyword with compound statements. This therefore applies to all variables working with silicon registers.

This code produces following warnin:
https://github.com/ARM-software/CMSIS_5/blob/dafe87eb33f78f34f4e614276e3a1feb20c438e6/CMSIS/Core/Include/cachel1_armv7.h#L67

`compound

[2022-08-08 09:11] JonatanAntoni commented on #1544
Hi @MaJerle,

Please note that CMSIS does not claim any sort of C++ support, yet. The code you are facing with conforms to C99. Please try to include this code as `extern "C"`. This should allow your C++20 application to interface with CMSIS, successfully.

Especially the C code for cache maintenance is tricky and unfortunately not fully portable. It relies on the Compiler not using stack for inst

[2022-08-09 13:37] lzo2 opened #1547 "Missing I/O Control support in Driver_ETH_PHY interface"
Hello,
I am wondering why CMSIS-Driver Ethernet PHY API is missing the widespread “Control” function available in other CMSIS Driver APIs. I am currently implementing a T1S PHY driver, which also provides a PLCA (Physical Layer Collision Avoidance) layer with the PHY. Providing such control interface "int32_t (*Control) (uint32_t control, uint32_t arg)" would be greatly helpful to pass ioctl confi

[2022-08-11 05:57] VladimirUmek commented on #1547
Hello,
as you noticed, CMSIS-Driver Ethernet PHY API is as simple as it gets, therefore only basic functionality is supported.
Would it be an option to set configuration in PowerControl function? Can you share the PHY device name so that we can take a look at the datasheet?

[2022-08-11 07:15] lzo2 commented on #1547
Hi,
The PHY device is the LAN8670 from Microchip with the following [datasheet ](https://ww1.microchip.com/downloads/aemtest/AIS/ProductDocuments/DataSheets/DS-LAN8670-1-2-60001573C.pdf)
Internally my driver is implementing the "Clause 45 Register Access" with the rw function pointers passed during the Initialize call (ARM_ETH_PHY_Read_t  fn_read, ARM_ETH_PHY_Write_t fn_write).
My concerns is abou

[2022-08-11 07:24] #1532 closed, assigned to nobody

[2022-08-11 08:21] VladimirUmek commented on #1547
Many thanks for the additional info!
In the short term I think it is best using approach with the rw function pointers and implement extension separately.
Changing API is a long process and in this case it would also break existing implementations. Therefore we can take this into account as an option for future versions.
What is the network stack used in your case? Where is PLCA handling implement

[2022-08-12 07:00] lzo2 commented on #1547
The network stack currently used is emNet from Segger, and the integration with CMSIS-Driver PHY Api works fine for physical layer communication, state, init, etc...
The PLCA handling is partly done in that network stack: initialization and default configuration. But PLCA is also handled by application to change node configuration, enable/disable. For example, the LAN8670 is provided by Microchip

[2022-08-15 08:29] #1534 closed, assigned to nobody

[2022-08-15 12:25] korjaa commented on #844
Having the core registers available as SVDs would be nice. Anyone aware of any updates towards this?

[2022-08-15 13:53] #1542 closed, assigned to mansnils

[2022-08-16 21:05] tannewt commented on #844
I've switched the ads2svd repo to python only here: https://github.com/tannewt/ads2svd Here is [a zip of the output](https://github.com/ARM-software/CMSIS_5/files/9354689/out.zip).

[2022-08-29 08:00] manuesseti opened #1556 "CMSIS 5.9.0 RTX issue"
![RTX RTOS error](https://user-images.githubusercontent.com/111989469/187151122-149043a3-e597-4593-851f-4163fd696ed9.PNG)
By upgrading from cmsis 5.7.0 to cmsis 5.9.0, in the debugger tool of keil uVision I can't view anymore the threads and the infos about the rtx rtos2. The tool complains about a missing RTX5.scvd file, but, actually, the file is in the path where the tool is looking for, so I g

[2022-08-29 11:07] jkrech commented on #1556
This sounds like an MDK tool problem. Therefore please contact Arm support. Maybe updating your version of MDK will resolve the issue?

[2022-08-30 10:27] JonatanAntoni commented on #1547
Hi @lzo2, @VladimirUmek,

I think the question here is: What is the purpose of the CMSIS-Driver API?

So far, all the CMSIS-Driver APIs (not only the PHY one) focus on the functionality required by middleware components, such as the IP Stack or the likes. It is assumed that the application is specific to the selected hardware (i.e., the PHY in this case) but the middleware of course is not.

If on

[2022-09-01 07:29] zhusbj opened #1557 "Array access out of bounds in __cmsis_start()"
https://github.com/ARM-software/CMSIS_5/blob/51263182d16c92649a48144ba56c0945f9fce60e/CMSIS/Core/Include/cmsis_gcc.h#L152-L154

`pTable->dest` and  `pTable->src` are `uint32_t` types but `pTable->wlen` is the array size in bytes.
They are not matched and would cause array access out of bounds.

[2022-09-01 07:44] JonatanAntoni commented on #1557
Hi @zhusbj,

I think this is a misunderstanding of what the code is doing.

These for-loops are basically mem copies where `pTable->src` is pointing to the source, `pTable->dest` is pointing to the target, and `pTable->wlen` is giving the amount of 32-bit memory words to be copied.

The values of `pTable` are Linker generated and of course must match the memory layout. A mistake in the Linker scri

[2022-09-02 03:02] hieuhotxac opened #1558 "Wrong NVIC_BASE value in "core_cm4.h""
`NVIC_BASE` macro in "core_cm4.h" is set to `(SCS_BASE +  0x0100UL)`
In "Cortex-M4 Technical Reference Manual", the offset is `0x0D04UL`

[2022-09-02 04:00] #1558 closed, assigned to nobody

[2022-09-02 04:00] hieuhotxac commented on #1558
Sorry, I'm wrong.

[2022-09-02 10:00] zhusbj commented on #1557
Hi Jonatan,

Sorry I used the older code CMSIS v5.6.0, where the .copy.table was defined as below.
 .copy.table :
  {
    . = ALIGN(4);
    __copy_table_start__ = .;
    LONG (__etext)
    LONG (__data_start__)
    LONG (__data_end__ - __data_start__)
    __copy_table_end__ = .;
  } > FLASH

Now I checked the latest version and found it has been fixed by LONG ((__data_end__ - __data_start__) / 4).

[2022-09-09 07:33] udoe opened #1559 "RTX thread stacks: GDB stack unwind runs beyond stack limit"
Hi,

When gdb stops on a breakpoint in thread context and I list stack frames (via bt command, or my IDE issues a -stack-list-frames command) then gdb's stack unwind algorithm walks up the stack but does not stop at the stack top address. Instead it walks two words (8 bytes) beyond stack top. This causes gdb to issue memory reads from arbitrary (and invalid) addresses. In my specific setup this is

[2022-09-12 09:57] JonatanAntoni commented on #1559
Hi Udo,

This might indeed be the way RTX5 sets up stack for threads. The first stack frame added by RTX5 contains a "return to `osThreadExit`. Once we unwind the call stack down into this function, there is no additional stack frame anymore. This might cause confusion.

I guess, @RobertRostohar can give us more details.

Cheers,
Jonatan

[2022-09-12 10:27] udoe commented on #1559
Hi Jonatan,

Thanks for following up. Meanwhile I implemented a workaround: At top of stack I reserve two zero-initialized words (8 bytes in total) of which RTX is not aware. This stops GDB's stack unwinding and GDB will not stumble across invalid memory addresses. However, I'm not sure if this is the correct way to build a top-most stop frame on an Cortex M stack.

Udo

[2022-09-12 10:47] JonatanAntoni commented on #1559
Hi Udo,

I think we need to wait for Robi to check the differences between RTX5 and the ThreadX example.

By glancing over it, I recognized that ThreadX puts an additional magic LR value (return from interrupt) to the top of the stack. In case of RTX5 we just return into `osThreadExit`.

Perhaps the missing part in RTX5 is that GDB cannot detect `osThreadExit` will never return and tries to unwind

[2022-09-12 17:34] lzo2 commented on #1547
Hi @JonatanAntoni ,

I agree with you that good abstraction should not rely on a single implementation and two is a minimal.
I understand the need for CMSIS-Driver API to be more strict and provide a common set of functional controls shared by most of the implementations. Setting in CMSIS driver headers, the definition of the supported controls concretely formalize the call behaviors -not like `io

[2022-09-13 08:15] JonatanAntoni commented on #1547
Hi @lzo2,

There are some ongoing discussions about how to add vendor specific calls. The easiest but not well abstracted way would be accessing the native driver implementation directly without going through the CMSIS-Driver abstraction.

Another possibility might be using "inheritance" like this:
[code]

Having the original driver api structure as the first member in the extended structure allow

[2022-09-14 06:50] RobertRostohar commented on #1559
Hi,

As you have already figured out for RTX5, when a thread starts there is no stack frame on top of the stack left and the register LR contains the function `osThreadExit` (a mechanism that allows self-terminating a thread when its function exits).

The value in LR points to a valid function and therefore gdb does not stop stack unwinding.

ThreadX uses `0xFFFFFFFF` (`EXC_RETURN`) for LR which s

[2022-09-14 11:45] udoe commented on #1559
Hi Jonatan, Hi Robert,

I downloaded the GDB sources from [](https://developer.arm.com/downloads/-/arm-gnu-toolchain-downloads) and spent some time with analyzing the code to get an idea how stack unwinding works. In case you want to take a look as well, here are some starting points:

The command -stack-list-frames seems to be implemented in mi_cmd_stack_list_frames() in binutils-gdb/gdb/mi/mi-cm

[2022-09-16 09:56] FerdinandEn opened #1562 "Cortex M Level-1 cache functions Enhancement of the documentation"
**Current content of the help (CMSIS 5.9.0)**

`__STATIC_FORCEINLINE void SCB_InvalidateDCache_by_Addr(volatile void * addr,int32_t dsize )`
D-Cache Invalidate by address.
Parameters
[in] addr address (aligned to 32-byte boundary)
[in] dsize size of memory block (in number of bytes)
The function invalidates a memory block of size dsize [bytes] starting at address address. The address is aligned to

[2022-09-18 09:52] ua1arn opened #1563 "aarch64 stubs"
I am use these modified files for hide warnings while aarch64 compilation:

Propose add as seed of adding aarch64 (coretex-a53) support.
[Include.zip](https://github.com/ARM-software/CMSIS_5/files/9593540/Include.zip)

[2022-09-19 10:42] JonatanAntoni commented on #1562
Hi @FerdinandEn,

Thanks for pointing this out. Documentation is always an issue and if you like to update the description this is more than appreciated.

Please feel free to raise a PR with your suggestion.

Thank you very much,
Jonatan

[2022-09-19 10:43] JonatanAntoni commented on #1563
May I ask you to raise this as a PR instead of a zip archive, please?

[2022-09-19 10:57] ua1arn commented on #1563
I can not now prepare fine-indented code for creating PR... Archives can be used for generate diffs...
My last activity arount CMSIS Cortex-A interrupt handling memorized as too hard quest trough CMSIS coding standards...
;)

[2022-09-23 12:01] felix-johnny opened #1564 "CMSIS-NN : Move to new location"
CMSIS-NN contents (https://github.com/ARM-software/CMSIS_5/tree/develop/CMSIS/NN) is planned to be moved into its own repository https://github.com/ARM-software/CMSIS-NN .

The [legacy API's](https://github.com/ARM-software/CMSIS_5/tree/develop/CMSIS/NN#legacy-vs-tfl-micro-compliant-apis) will not be moved and any current users can still use those by using the [5.9.0](https://github.com/ARM-softwa

[2022-09-27 11:13] IngmarPaetzold commented on #1421
Hi, I just stumbled over this issue while scanning RTX 5.5.4 release notes. Our project currently uses RTX 5.5.3, and uses a few threads and OS timers, which work with floating point values here and there.
These are just generated with osThreadNew() and osTimerNew().
Are there any potential implications to expect? Does floating point usage need to be activated or explicitly initialized, and we wer

[2022-09-28 05:15] RobertRostohar commented on #1421
Proper FPU initialization should be added as discussed in this thread. This has been added in RTX 5.5.4. When using older RTX 5.5.3 the FPDSCR initialization should be added. See code above or take a look at the commit (28d54ba).

[2022-09-28 10:47] IngmarPaetzold commented on #1421
I manually inserted the fix into **rtx_lib.c**, but it was excluded from compiling because **__FPU_PRESENT** is _not_ 1.

This definition would be available via **rtx_lib.h** (includes **rtx_core_c.h**, includes **RTE_Components.h**, eventually includes the actual device definition (here **stm32f417xx.h**)).
But none of these are seen by **rtx_lib.c**, despite the similar name.
In my setup, **rtx_

[2022-09-28 11:33] JonatanAntoni commented on #1421
Yes, indeed. Please carefully inspect the fix:

https://github.com/ARM-software/CMSIS_5/blob/dde5bac01b1b0b5ef528989a3139ce10bb1b054d/CMSIS/RTOS2/RTX/Source/rtx_lib.c#L28-L32

[2022-09-28 13:18] IngmarPaetzold commented on #1421
O yes, my apologies... I was kind of sleeping... Thanks.

[2022-09-30 11:57] DomenGosek commented on #1559
Hi,

Just want to inform you that we are working on this issue. It would be helpful to have a project and steps to reproduce the problem. Is this possible for you @udoe ?

Regards,
Domen

[2022-09-30 14:21] udoe commented on #1559
Hi,

Yes, I can create an MCUXpresso demo project for you. Which eval board do you have available? RT1060? RT1170?

Udo

[2022-10-03 06:35] DomenGosek commented on #1559
Great, I have RT 1060 available. Can I ask what tool do you use to connect with board on one side and GDB on another? I was using OpenOCD so far.

Domen

[2022-10-03 07:26] udoe commented on #1559
Okay, I will prepare a test project for the RT1060 EVK. But this might not be available before the end of next week (Oct14), sorry.

I use MCUXpresso (which has OpenOCD built in I think) plus Segger J-Link. But the EVK has an integrated debug adapter which connects with MCUXpresso directly. No extra tools are needed.

Udo

[2022-10-06 15:35] localuser2 opened #1567 "Possible shift by negative amount in modules arm_lms_norm_q31 and am_lms_norm_q15"
Compiling current CMSIS for Host platfom (AMD64) while gcc's static code analysis feature is active results in serious looking errors.

GCC version:
[code]

GCC arguments:
[code]

GCC code analyzer warnings (with the configuration shown above this are errors due to `-Werror`):
[code]

[2022-10-10 07:22] JonatanAntoni commented on #1567
Hi @localuser2,

Please take note that CMSIS-DSP has moved into its own repository at https://github.com/ARM-software/CMSIS-DSP. Please consider raising your issue over there.

Thanks,
Jonatan

[2022-10-11 06:59] Jegeva commented on #844
Not really, I guess this is not a priority for arm tbh. Don’t really get
why this can’t be solved in 2 years with most of the stuff available and
minimal cleanup on their side to integrate

Le mar. 16 août 2022 à 23:19, Je GeVa ***@***.***> a écrit :

[2022-10-11 08:10] Jegeva commented on #844
Can you create a merge request to my repo, getting rid of the Saxon dep is
nice actually

Le mar. 16 août 2022 à 23:05, Scott Shawcroft ***@***.***> a
écrit :

[2022-10-17 06:20] udoe commented on #1559
Hi Domen,

I was able to reproduce the issue using MCUXpresso and the RT1060EVK board with integrated debug adapter (DAP). I attached my demo project as evkbmimxrt1060_igpio_led_output.zip.

Here you can see how the stack unwinding yields an invalid address 0xeeeeeee when it reaches top of stack. This address is taken from the memory area beyond top of stack.

<img width="1289" alt="stack_unwind1"

[2022-10-26 09:13] swordligit opened #1572 "In which case M33 generate osRtxErrorStackUnderflow but no " STKOF UsageFault "?"
Hi, experts.
     I encountered an  osRtxErrorNotify which error was osRtxErrorStackUnderflow, and
then I dumped the thread info, the thread->sp is something like 0x20027ac8, and the
thread->stack_mem is 0x20027b00, and the osRtxThreadStackCheck found there
was a stack underflow.
    The case was generated in osRtxTick_Handler, which means current thread's
round robin timeout was used up, and will

[2022-10-26 11:33] RobertRostohar commented on #1572
Hi,
please check if you are using the latest RTX V5.5.4. Stack overrun checking has been enhanced recently (V5.5.3).

[2022-10-27 07:42] swordligit commented on #1572
Hi, Robert
Thank for your reply. you mean the commit:

commit 88f2b4fc1fb814dfc562b4555dc16640fd9537e2
Author: Robert Rostohar <Robert.Rostohar@arm.com>
Date:   Mon May 17 08:25:58 2021 +0200

    RTX5: enhance stack overrun checking

Yes, I am using 5.5.1 and don't have this enhancement.  I saw the
osRtxThreadStackCheck has been removed from osRtxThreadSwitch
to the exactly context switch functio

[2022-10-27 15:55] atsju commented on #1544
Adding `extern "C"` is no solving the problem when the error comes from header and not from source.
For people using GCC you can disable individual warnings with `-Wno-volatile` but this will mute the warning for whole file.
You might mute it selectively with
[code]

@JonatanAntoni  the rationale behind this C++ warning is really interesting. Because `SCB->CCR` is volatile it WILL be read before o

[2022-10-28 07:46] Cromagnon31 commented on #617
Hi,

I encounter same issue. The main reason If I include cmsis_compiler.h directly it's to access cortex_m macros/types/inlines for sources common to different cores (m0, m0+, m3, m4...).
There is an other ways to correct the issue. Simply encapsulate this code with an extern "C", since this code is only workable in "C".
Extern "C" statement exists for that case.

But I also think that encapsulat

[2022-10-28 09:55] RobertRostohar commented on #1572
Could you try RTX 5.5.4 to see if the problem is gone?

[2022-10-28 14:07] swordligit commented on #1572
OK,but this bug is not reproduced easily, so need time to debug this.
could you explain this patch?  the git log doesn't give so much details.

[2022-11-04 11:33] ua1arn opened #1580 "Cortex-A build fix"
![image](https://user-images.githubusercontent.com/34999007/199962909-4944a999-f4e4-4032-b035-1e13cce6830e.png)

Case mismatch.

[2022-11-04 12:01] JonatanAntoni commented on #1580
Thanks for raising this. I hope @Masmiseim36 can provide a fix shortly.

[2022-11-04 13:31] udoe commented on #1559
Hello,

Is there any news? Did you receive my demo project?

Udo

[2022-11-04 14:19] DomenGosek commented on #1559
Hi Udo,

I received your project and was able to reproduce. Few solutions were implemented, but problem was not solved.

- RTX uses a trick to support self-terminating a thread and we assumed that this might confuse GDB. Removing that does not help.
- When a thread is created and prepared to be launched, we prepared the basic stack frame R0..R3, R12, LR, PC, xPSR. We set LR to osThreadExit (self-t

[2022-11-04 15:00] Masmiseim36 commented on #1580
Thanks for the hint. I should have noticed that one. Fix is here:
https://github.com/ARM-software/CMSIS_5/pull/1581

[2022-11-07 09:47] udoe commented on #1559
Hi Domen,

I was able to replicate my workaround in the demo project. For this, I changed the thread setup code as follows:

[code]

When the breakpoint is hit, this is the result:

<img width="1244" alt="stack_unwind_2" src="https://user-images.githubusercontent.com/33671258/200276929-fba2b6c1-c375-47f3-aea7-9297818ebcff.png">

Note that gdb now shows 0x0 at top of stack (red markers) and that th

[2022-11-07 10:27] udoe commented on #1559
Hi again,

I also tried a simple AzureRTOS sample which comes with the NXP SDK:
Import SDK examples --> azure_rtos_examples --> threadx_demo

Here is a screen shot from the IDE when a breakpoint in thread_0_entry is hit:

<img width="1113" alt="azrtos_breakpoint" src="https://user-images.githubusercontent.com/33671258/200286438-45fe313f-7ebb-4ca1-978d-ac6ebb0bf17a.png">

You can see that the backt

[2022-11-19 04:52] ua1arn opened #1588 "GIC_SetConfiguration safety"
I propouse add stripping extra bits in argument.
Existing implementation fails then used unstripped value from GIC_GetConfiguration
![image](https://user-images.githubusercontent.com/34999007/202834774-f909f9ba-4ae7-4e6f-afea-37c57bbadfce.png)

[2022-11-19 09:03] swordligit commented on #1572
Still can not reproduce the problem, so close this issue currently, I would reopen
this issue if I can reproduce it again.
Thank you @RobertRostohar .

[2022-11-19 09:03] #1572 closed, assigned to nobody

[2022-11-21 10:21] JonatanAntoni commented on #1588
@ua1arn, thanks for pointing this out.

[2022-11-21 12:56] bordeaux15 opened #1590 "How to Describe Bitfields That Span Multiple Registers in CMSIS-SVD"
I'm working on a project where bitfields can span multiple registers (i.e. 8-bit registers, 23-bit bitfields across 3 registers). Example below:

I don't see any where in the CMSIS-SVD 1.3.9 schema that can support this structure. The bitRange identifier is used only to specify a bitfields range within a register. But it cannot specify which bits of the bitfields are included in that bitRange. A c

[2022-11-21 13:18] thorstendb-ARM commented on #1590
Hi, does the register have a 32bit representation (means, all three (four) can be read as one 32bit register having the upper 8 bit "reserved")? In this case you can use both descriptions (1x 32bit, 3x 8bit) as alternate specification ("union concept").

[2022-11-21 13:23] JonatanAntoni commented on #1590
Please note that CMSIS-SVD spec has moved to https://github.com/Open-CMSIS-Pack/svd-spec.

[2022-11-22 06:53] ghost commented on #1588
Hello @ua1arn, please check the related commit.

[2022-11-22 07:33] ua1arn commented on #1588
all okay